<h4><%= t 'Contact' %></h4>
<p>
本システムについて改良要望がある、あるいは叱咤激励したいなどがございましたら作者のツイッターアカウント<%= link_to '@yalab', 'http://twitter.com/yalab' %>までお願いします。
</p>
<br>
<p>
またシステムの不具合などを発見された場合は <%= Anmitsu::Email[:info].gsub('@', 'あっと') %> までご連絡ください。
</p>
