<div class="post">
  <div class="post-head clear">
    <p class="date"><span class="day">&nbsp;</span>&nbsp;</p>
    <h3>About</h3>
  </div>

  <p>Anmitsuとは主にフリーランスや小規模組織向けの案件管理、見積書作成、請求書作成のためのツールです。</p>
</div>
<div class="post">
<div class="post-head clear">
    <p class="date"><span class="day">&nbsp;</span>&nbsp;</p>
    <h3>Price</h3>
  </div>
  <p>Anmitsuのご利用料金は以下のとおりです。</p>
  <table>
    <tr>
      <th>利用頻度</th>
      <th>月額料金</th>
    </tr>
    <tr>
      <td>月3件まで</td>
      <td>無料</td>
    </tr>
    <tr>
      <td>月10件まで</td>
      <td>&yen;1050</td>
    </tr>
    <tr>
      <td>無制限</td>
      <td>&yen;3150</td>
    </tr>
  </table>
</div>
