<div class="post">
  <div class="post-head clear">
    <p class="date"><span class="day">&nbsp;</span>&nbsp;</p>
    <h3>About</h3>
  </div>

  <p>Anmitsuとは主にフリーランスや小規模組織向けの案件管理、見積書作成、請求書作成のためのツールです。</p>
</div>
<div class="post">
<div class="post-head clear">
    <p class="date"><span class="day">&nbsp;</span>&nbsp;</p>
    <h3>Price</h3>
  </div>
  <p>現在当システムはパブリックベータ版につきご利用は全て無料です。</p>
</div>
