.alert{
  color: #FF0000 !important;
}
.notice{
  color: green !important;
}
.indent{
  margin-left: 1em;
}
#total_row,
#total_row th,
#total_row td{
  border-top: 1px dotted #000000;
  font-weight: bold;
}
#tos li{
  margin-left: 30px;
}
#tos_area{
  overflow: scroll;
  height: 120px;
}
#tos_notice{
  margin-top: 20px;
  margin-bottom: 20px;
}
#client_name_list{
  position: fixed;
  z-index: 2;
}
#client_name_list li{
  list-style-type: none;
  width: 466px;
  background: #FFFFFF;
  cursor: pointer;
}

.estimate{
  border-left: 3px solid #FF0000;
  padding-left: 4px;
}
.order{
  border-left: 3px solid #00FF00;
  padding-left: 4px;
}
.delivery{
  border-left: 3px solid #0000FF;
  padding-left: 4px;
}
.receipt{
  border-left: 3px solid #FF00FF;
  padding-left: 4px;
}
.reject{
  border-left: 3px solid #000000;
  padding-left: 4px;
}
