<h4>第1条（規約の適用）</h4>
<div id="tos">
  <ol>
    <li>この利用規約は、本サービスの利用に対して適用されます。</li>
  </ol>

  <h4>第2条（規約、サービスの変更）</h4>
  <ol>
    <li>利用者の了解を得ることなくこの規約を変更することがあります。この場合に、本サービスの利用条件は、変更後の利用規約によるものとします。</li>
    <li>本サービスは将来予告なく変更、追加、削除することがあります。</li>
  </ol>

  <h4>第3条（プライバシー）</h4>
  <ol>
    <li>本サービスを提供するにあたり必要となる最小限の情報をユーザーから取得します。ユーザーから取得したプライバシー情報の保護に最大限の注意を払います。</li>
  </ol>

  <h4>第4条（免責事項）</h4>
  <ol>
    <li>本サービスの使用により起きた損害について作者は何ら責任を負わないものとします。</li>
  </ol>
</div>
